<div id="home">
    <div class="content">
        <el-container>
            <el-aside width="160px">
                <div class="left">
                    <el-row class="tac">
                        <el-col style="padding-top: 20px">
                            <el-menu :default-active="defaultIndex" class="el-menu-vertical-demo"
                                     background-color="#000" text-color="#fff">
                                <el-menu-item :index="''+i" v-for="(item,i) in leftList" :key="i"
                                              :disabled="item.path == 'top'" @click="leftSelect(item)">
                                    <img class="logo" v-if="item.path == 'top'" :src="logo"/>
                                    <div v-else v-show="i == index"
                                         style="width: 6px; height: 6px;border-radius: 3px; background-color: #ff4600;display: inline-block;margin:0 15px;">
                                    </div>
                                    <span slot="title">{{item.title}}</span>
                                </el-menu-item>
                            </el-menu>
                        </el-col>
                    </el-row>
                </div>
            </el-aside>
            <el-container style="background-color: #f6f6f6">
                <el-header class="hradTxt">
                    <div class="top_title">
                        {{leftList[index].title}}
                    </div>
                    <div v-if="page == 'home'" class="username" style="float: right">
                        管理员账号:
                        <span style="cursor: pointer">{{adminInfo.data.username}}</span>
                        <button class="btn" @click="logout">退出</button>
                    </div>
                </el-header>
                <el-main>
                    <div class="box" style="height:100%">
                        <div class="visitData" v-if="page === 'home'">
                            首页模块预留
                        </div>
                        <template v-else-if="page === 'adminList'">
                            <AdminList :adminInfo="adminInfo"></AdminList>
                        </template>
                        <template v-else-if="page === 'anchorList'">
                            <AnchorList :adminInfo="adminInfo"></AnchorList>
                        </template>
                        <template v-else-if="page === 'memberList'">
                            <MemberList :groupList="groupList" :adminInfo="adminInfo"></MemberList>
                        </template>
                        <template v-else-if="page === 'matchList'">
                            <MatchList :groupList="groupList" :adminInfo="adminInfo"></MatchList>
                        </template>
                        <template v-else-if="page === 'liveList'">
                            <LiveList :adminInfo="adminInfo"></LiveList>
                        </template>
                        <template v-else-if="page === 'contentManage'">
                            <ContentManage :adminInfo="adminInfo"></ContentManage>
                        </template>
                        <template v-else-if="page === 'feedbackManage'">
                            <FeedbackManage :groupList="groupList" :adminInfo="adminInfo"></FeedbackManage>
                        </template>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </div>
</div>