<div id="home">
    <div class="content">
        <el-menu background-color="#545c64"
                 text-color="#fff"
                 active-text-color="#ffd04b"
                 :default-active="defaultIndex"
                 class="el-menu-demo"
                 mode="horizontal"
                 @select="handleSelect">
            <el-menu-item :index="String(item.index)" v-for="(item,i) in leftList" :key="i">{{item.title}}
            </el-menu-item>
        </el-menu>
        <div class="line"></div>
        <div class="box">
            <div class="visitData" v-if="page === 'home'">
                <h1>首页. . .</h1>
                <div class="bot">

                </div>
            </div>
            <template v-else-if="page === 'adminList'">
                <AdminList></AdminList>
            </template>
            <template v-else-if="page === 'anchorList'">
                <AnchorList></AnchorList>
            </template>
            <template v-else-if="page === 'memberList'">
                <MemberList :groupList="groupList" :adminInfo="adminInfo"></MemberList>
            </template>
            <template v-else-if="page === 'matchList'">
                <MatchList :groupList="groupList" :adminInfo="adminInfo"></MatchList>
            </template>
            <template v-else-if="page === 'liveList'">
                <LiveList :adminInfo="adminInfo"></LiveList>
            </template>
            <template v-else-if="page === 'contentManage'">
                <ContentManage></ContentManage>
            </template>
            <template v-else-if="page === 'advManage'">
                <AdvManage></AdvManage>
            </template>
            <template v-else-if="page === 'announceManage'">
                <AnnounceManage></AnnounceManage>
            </template>
            <template v-else-if="page === 'feedbackManage'">
                <FeedbackManage></FeedbackManage>
            </template>
            <template v-else-if="page=== 'webSet'">
                <WebSet></WebSet>
            </template>
        </div>
    </div>
</div>