<div id="home">
    <div class="content">
        <el-container>
            <el-aside width="160px">
                <div class="left">
                    <el-row class="tac">
                        <el-col style="padding-top: 20px">
                            <el-menu :default-active="defaultIndex" class="el-menu-vertical-demo"
                                     background-color="#000" text-color="#fff">
                                <el-menu-item :index="''+i" v-for="(item,i) in leftlist" :key="i"
                                              :disabled="item.path == 'top'" @click="leftSelect(item)">
                                    <img v-if="item.path == 'top'" :src="logo"
                                         style="width: 20px;height: 20px;margin-right: 7px"/>
                                    <div v-else v-show="i == index"
                                         style="width: 6px; height: 6px;border-radius: 3px; background-color: #ff4600;display: inline-block;margin:0 15px;">
                                    </div>
                                    <span slot="title">{{item.title}}</span>
                                </el-menu-item>
                            </el-menu>
                        </el-col>
                    </el-row>
                </div>
            </el-aside>
            <el-container style="background-color: #f6f6f6">
                <el-header class="hradTxt">
                    <div class="top_title">
                        {{leftlist[index].title}}
                    </div>
                    <div v-if="page == 'home'" class="username" style="float: right">
                        管理员账号:
                        <span style="cursor: pointer">{{adminInfo.data.username}}</span>
                        <button class="btn" @click="logout">退出</button>
                    </div>
                </el-header>
                <el-main>
                    <div class="box" style="height:100%">
                        <div class="visitData" v-if="page === 'home'">
                            <div class="visitNum">
                                <el-table v-loading="loading" element-loading-text="" :data="tableHome"
                                          style="width: 100%">
                                    <el-table-column prop="today" label="今日访问" align="center"></el-table-column>
                                    <el-table-column prop="yesterday" label="昨日访问" align="center"></el-table-column>
                                    <el-table-column prop="week" label="本周访问" align="center"></el-table-column>
                                    <el-table-column prop="lastWeek" label="上周访问" align="center"></el-table-column>
                                    <el-table-column prop="this_month" label="本月访问" align="center"></el-table-column>
                                    <el-table-column prop="last_month" label="上月访问" align="center"></el-table-column>
                                </el-table>
                                <el-table v-loading="loading" element-loading-text="" :data="tableHomeMessage"
                                          style="width: 100%">
                                    <el-table-column prop="today" label="今日发言" align="center"></el-table-column>
                                    <el-table-column prop="yesterday" label="昨日发言" align="center"></el-table-column>
                                    <el-table-column prop="week" label="本周发言" align="center"></el-table-column>
                                    <el-table-column prop="lastWeek" label="上周发言" align="center"></el-table-column>
                                    <el-table-column prop="this_month" label="本月发言" align="center"></el-table-column>
                                    <el-table-column prop="last_month" label="上月发言" align="center"></el-table-column>
                                </el-table>
                                <!--                                <img :src="imgUrl" alt="">-->
                            </div>
                            <!--                            <div class="speakNum">-->
                            <!--                                <el-table v-loading="loading" element-loading-text="" :data="todaySpeak"-->
                            <!--                                    style="width: 100%">-->
                            <!--                                    <el-table-column prop="jrfy" label="今日发言人数"></el-table-column>-->
                            <!--                                </el-table>-->
                            <!--                                <img :src="imgUrl" alt="">-->
                            <!--                            </div>-->
                            <div class="waitDeal">
                                <div class="waitTxt">待处理</div>
                                <el-table :data="wailDealList" style="width: 100%">
                                    <el-table-column prop="today" label="投诉">
                                        <template slot-scope="scope">
                                            <p style="color:#ef1a30" class="waitDealT" @click="goWaitDeal('c')">
                                                {{scope.row.dclts}}</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="today" label="建议">
                                        <template slot-scope="scope">
                                            <p style="color: #0fc176" class="waitDealT" @click="goWaitDeal('s')">
                                                {{scope.row.dcljy}}</p>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <img :src="imgUrl" alt="">
                            </div>
                        </div>
                        <template v-else-if="page === 'adminList'">
                            <AdminList :adminInfo="adminInfo"></AdminList>
                        </template>
                        <template v-else-if="page === 'customerList'">
                            <CustomerList :groupList="groupList" :adminInfo="adminInfo"></CustomerList>
                        </template>
                        <template v-else-if="page === 'kefuSensus'">
                            <KefuSensus :groupList="groupList" :adminInfo="adminInfo"></KefuSensus>
                        </template>
                        <template v-else-if="page === 'commonQuestions'">
                            <CommonQuestions :adminInfo="adminInfo"></CommonQuestions>
                        </template>
                        <template v-else-if="page === 'complainList'">
                            <ComplainList :groupList="groupList" :adminInfo="adminInfo"></ComplainList>
                        </template>
                        <template v-else-if="page === 'suggestList'">
                            <SuggestList :groupList="groupList" :adminInfo="adminInfo"></SuggestList>
                        </template>
                        <template v-else-if="page === 'messageManage'">
                            <MessageManage :adminInfo="adminInfo"></MessageManage>
                        </template>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </div>
</div>