#login {
  width: 100%;
  height: 100%;
  background: 100% no-repeat;

  .content {
    width: 100%;
    height: 100%;
    position: relative;

    .loginBox {
      width: 400px;
      height: 400px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #fff;
      box-shadow: #ccc 1px 1px 2px 2px;

      .sign {
        .div2:before { /*做一个书签效果*/
          position: absolute; /*必须*/
          top: 50px;
          left: -12px;
          z-index: 1;
          height: 0;
          padding-right: 150px;
          font-weight: bold;
          line-height: 0;
          color: #fff;
          border: 18px solid rgba(24, 159, 145, 1);
          border-right-color: transparent; /*右边框透明，变成空缺的角*/
          content: 'x-admin1.0';
          box-shadow: 0 5px 5px -5px rgba(23, 27, 26, 1);
        }

        .div2:after { /*书签的夹角*/
          content: '';
          position: absolute;
          top: 86px;
          left: -12px;
          border: 6px solid rgba(23, 27, 26, 1);
          border-left-color: transparent;
          border-bottom-color: transparent;
        }
      }

      .right-infp {
        width: 80%;
        height: 80%;
        margin: 30% auto 0;

        .right-infp-name {
          display: block;
          margin: 0 auto 4px;
          width: 80%;
          height: 40px;
          line-height: 5px;
          background-color: rgb(232, 240, 254);

          input {
            width: 80%;
            height: 100%;
            display: block;
            margin: auto;
            background-color: transparent;
            color: #000;
            outline: none;
            border: 0;
          }
        }

        .pwd {
          margin-top: 10%;
        }

        .checkBtn {
          margin-top: 10px;
        }

        .btn {
          display: block;
          color: #f0f0f0;
          width: 80%;
          margin: 10% auto;
          background-color: rgba(24, 159, 145, 1);
        }
      }
    }

    @media screen and(max-width: 1400px) {
      .loginBox {
        width: 300px;
        height: 320px;
      }
    }
    @media screen and(min-width: 1400px) and (max-width: 2000px) {
      .loginBox {
        width: 400px;
        height: 420px;
      }
    }

    .bot {
      text-align: center;
      width: 100%;
      color: #fff;
      position: fixed;
      bottom: 20px;
      .beianhao{
        color: #000;
      }
    }
  }
}